# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.tmp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLand stuff
.idea/*

# build directories
bin/
dist/
cert/
asup/
site/

# Go workspace files
# These should not be committed
# https://go.googlesource.com/proposal/+/master/design/45713-workspace.md#preventing-files-from-being-checked-in-to-repositories
go.work
go.work.sum