version: "3.7"

services:
{{range .Pollers}}
  {{ .PollerName }}:
    image: {{ .Image }}
    container_name: {{ .ContainerName }}
    restart: unless-stopped
    {{- if .ShowPorts}}
    {{ if .Port }}ports:
      - {{ .Port }}:{{ .Port }}
    {{- end}}
    {{- end}}
    command: '--poller {{ .PollerName }} {{if .Port }}--promPort {{ .Port }} {{ end }}
    {{- if ne .LogLevel 2 }}--loglevel {{ .LogLevel }} {{ end}}--config /opt/harvest.yml'
    volumes:
      - harvest:/opt/harvest/
      - type: bind
        source: ./{{ .ConfigFile }}
        target: /opt/harvest.yml
    {{- if .IsFull}}
    networks:
      - backend
    {{- end}}
{{end}}
volumes:
  harvest:
