version: "3.7"

services:
  {{- if .Admin.Enabled}}
  {{ .Admin.ServiceName }}:
    image: {{ .Admin.Image }}
    {{ .EnvFile }}
    env_file:
      - {{ .EnvFile }}
    {{- end}}
    container_name: {{ .Admin.ContainerName }}
    restart: unless-stopped
    ports:
      - {{ .Admin.Port }}:{{ .Admin.Port }}
    entrypoint: ["bin/harvest", "admin", "start", "--config", "/opt/harvest.yml"]
    volumes:
      - {{ .Admin.ConfigFile }}:/opt/harvest.yml
      - {{ .Admin.CertDir }}:/opt/harvest/cert
  {{- end }}
{{range .Pollers}}
  {{ .ServiceName }}:
    image: {{ .Image }}
    {{ .EnvFile }}
    env_file:
      - {{ .EnvFile }}
    {{- end}}
    container_name: {{ .ContainerName }}
    restart: unless-stopped
    {{- if .ShowPorts}}
    {{ if .Port }}ports:
      - {{ .Port }}:{{ .Port }}
    {{- end}}
    {{- end}}
    command: '--poller {{ .PollerName }} {{if .Port }}--promPort {{ .Port }} {{ end }}
    {{- if ne .LogLevel 2 }}--loglevel {{ .LogLevel }} {{ end}}--config /opt/harvest.yml'
    volumes:
      - {{ .TemplateDir }}:/opt/harvest/conf
      - {{ .CertDir }}:/opt/harvest/cert
      - {{ .ConfigFile }}:/opt/harvest.yml
    {{- if .IsFull}}
    networks:
      - backend
    {{- end}}
{{end}}
