[Unit]
Description=Harvest
Wants=network-online.target
After=network-online.target

[Service]
User=harvest
Group=harvest
WorkingDirectory=/opt/harvest
ExecStart=/usr/bin/harvest \
    start \
    --config /opt/harvest/harvest.yml
IgnoreSIGPIPE=no
KillMode=process
Restart=on-failure
RestartSec=30
TimeoutSec=60min
Type=forking

[Install]
WantedBy=multi-user.target