This document describes how Harvest metrics relate to their relevant Cisco Switch, including:

- Details about which Harvest metrics each dashboard uses.
These can be generated on demand by running `bin/harvest grafana metrics`. See
[#1577](https://github.com/NetApp/harvest/issues/1577#issue-1471478260) for details.

```
Creation Date : {{ .CounterMetaData.Date }}
ONTAP Version: {{ .CounterMetaData.OntapVersion }}
```

??? "Navigate to Grafana dashboards"

    Add your Grafana instance to the following form and save it. When you click on dashboard links on this page, a link to your dashboard will be opened. NAbox hosts Grafana on a subdomain like so: https://localhost/grafana/

    <div>
        <label for="grafanaHost">Grafana Host</label>
        <input type="text" id="grafanaHost" name="grafanaHost" placeholder="e.g. http://localhost:3000" style="width: 80%;margin-left:1em">
        <button type="button" onclick="saveGrafanaHost()">Save</button>
    </div>

## Understanding the structure

Below is an <span class="key">annotated</span> example of how to interpret the structure of each of the [metrics](#metrics).

cisco_switch_labels <span class="key">Name of the metric exported by Harvest</span>

Displays detail of the Cisco switch. <span class="key">Description of the Cisco Switch metric</span>

* <span class="key">Metric</span> name of the Cisco Switch metric
* <span class="key">Template</span> path of the template that collects the metric

| Metric | Template |
|--------|---------|
|`cisco_switch_labels` | conf/ciscorest/nxos/9.3.12/version.yaml |

## Metrics

{{range .Counters}}
### {{ .Name }}

{{ .Description }}

{{.CiscoHeader -}}
{{range .APIs}}
{{.CiscoTableRow -}}
{{end}}

{{- if .HasPanels}}

The `{{ .Name }}` metric is visualized in the following Grafana dashboards:

/// html | div.grafana-table
{{- .PanelHeader -}}
{{range .Panels}}
{{.DashboardTableRow -}}
{{end}}
///
{{end}}

{{end}}
