This document describes how Harvest metrics relate to their relevant ONTAP ZAPI and REST mappings, including:

- Details about which Harvest metrics each dashboard uses.
These can be generated on demand by running `bin/harvest grafana metrics`. See
[#1577](https://github.com/NetApp/harvest/issues/1577#issue-1471478260) for details.

- More information about ONTAP REST performance counters can be found [here](https://docs.netapp.com/us-en/ontap-pcmap-9121/index.html).

```
Creation Date : {{ .CounterMetaData.Date }}
ONTAP Version: {{ .CounterMetaData.OntapVersion }}
```
## Understanding the structure

Below is an <span class="key">annotated</span> example of how to interpret the structure of each of the [metrics](#metrics).

disk_io_queued <span class="key">Name of the metric exported by Harvest</span>

Number of I/Os queued to the disk but not yet issued <span class="key">Description of the ONTAP metric</span>

* <span class="key">API</span> will be one of REST or ZAPI depending on which collector is used to collect the metric
* <span class="key">Endpoint</span> name of the REST or ZAPI API used to collect this metric
* <span class="key">Metric</span> name of the ONTAP metric
 <span class="key">Template</span> path of the template that collects the metric

Performance related metrics also include:

- <span class="key">Unit</span> the unit of the metric
- <span class="key">Type</span> describes how to calculate a cooked metric from two consecutive ONTAP raw metrics
- <span class="key">Base</span> some counters require a `base counter` for post-processing. When required, this property lists the `base counter`

| API    | Endpoint | Metric | Template |
|--------|----------|--------|---------|
|REST | `api/cluster/counter/tables/disk:constituent` | `io_queued`<br><span class="key">Unit:</span> none<br><span class="key">Type:</span> average<br><span class="key">Base:</span> base_for_disk_busy | conf/restperf/9.12.0/disk.yaml|
|ZAPI | `perf-object-get-instances disk:constituent` | `io_queued`<br><span class="key">Unit:</span> none<br><span class="key">Type:</span> average<br><span class="key">Base:</span> base_for_disk_busy | conf/zapiperf/cdot/9.8.0/disk.yaml|

## Metrics

{{range .Counters}}
### {{ .Name }}

{{ .Description }}

{{- if .HasAPIs}}
{{.Header -}}
{{range .APIs}}
{{.TableRow -}}
{{end}}
{{end}}
{{end}}
