version: "3.7"

services:
  {{- if .Admin.Enabled}}
  {{ .Admin.ServiceName }}:
    image: {{ .Admin.Image }}
    container_name: {{ .Admin.ContainerName }}
    restart: unless-stopped
    ports:
      - {{ .Admin.Port }}:{{ .Admin.Port }}
    entrypoint: ["bin/harvest", "admin", "start", "--config", "/opt/harvest.yml"]
    volumes:
      - {{ .Admin.ConfigFile }}:/opt/harvest.yml
      - {{ .Admin.CertDir }}:/opt/harvest/cert
  {{- end }}
{{range .Pollers}}
  {{ .ServiceName }}:
    image: {{ .Image }}
    container_name: {{ .ContainerName }}
    restart: unless-stopped
    {{- if .ShowPorts}}
    {{ if .Port }}ports:
      - {{ .Port }}:{{ .Port }}
    {{- end}}
    {{- end}}
    command: '--poller {{ .PollerName }} {{if .Port }}--promPort {{ .Port }} {{ end }}
    {{- if ne .LogLevel 2 }}--loglevel {{ .LogLevel }} {{ end}}--config /opt/harvest.yml'
    volumes:
      - {{ .TemplateDir }}:/opt/harvest/conf
      - {{ .CertDir }}:/opt/harvest/cert
      - {{ .ConfigFile }}:/opt/harvest.yml
    {{- range .Mounts}}
      - {{.}}
    {{- end}}
    {{- if .IsFull}}
    networks:
      - backend
    {{- end}}
{{end}}

    {{- if .PromGrafana.IsFull}}
  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.33.1
    volumes:
        - ./container/prometheus/:/etc/prometheus/
        - prometheus_data:/prometheus
    command:
        - '--config.file=/etc/prometheus/prometheus.yml'
        - '--storage.tsdb.path=/prometheus'
        - '--web.console.libraries=/usr/share/prometheus/console_libraries'
        - '--web.console.templates=/usr/share/prometheus/consoles'
        # - '--web.enable-admin-api' # Enable to delete time series data from Prometheus see https://www.robustperception.io/deleting-time-series-from-prometheus
    ports:
        - {{ .PromGrafana.PromPort }}:9090
    networks:
        - backend
    restart: unless-stopped
    labels:
        kompose.service.type: nodeport

  grafana:
    container_name: grafana
    image: grafana/grafana:8.3.4
    depends_on:
        - prometheus
    ports:
        - {{ .PromGrafana.GrafanaPort }}:3000
    volumes:
        - grafana_data:/var/lib/grafana
        - ./grafana:/etc/grafana/provisioning # import Harvest dashboards
    networks:
        - backend
        - frontend
    restart: unless-stopped
    labels:
        kompose.service.type: nodeport


volumes:
    prometheus_data:
        name: harvest_prometheus_data
    grafana_data:
        name: harvest_grafana_data

networks:
    frontend:
        name: harvest_frontend
    backend:
        name: harvest_backend
    {{- end}}