name: Build, Test, Lint License

on:
  push:
    branches: 
    - main
    - 'release/**'
  pull_request:
    branches: 
    - main
    - 'release/**'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.20

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Check code formatting using gofmt
      uses: Jerome1337/gofmt-action@v1.0.4
      
  license_check:
      name: License check
      if: '!github.event.deleted'
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.20
      - name: Install wwhrd
        env:
          GO111MODULE: 'off'
        run: go get -u github.com/frapposelli/wwhrd
      - name: go mod vendor
        env:
          GO111MODULE: 'on'
        run: go mod vendor
      - name: wwhrd check
        run: wwhrd check
