name: "Lint PR"
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@b439535a8eb2122b748ed2b45d1693aaabe5b0aa
        with:
          types: |
            build
            chore
            ci
            doc
            feat
            fix
            perf
            refactor
            revert
            style
            test
          scopes: |
            collector
            config
            exporter
            grafana
            influxdb
            manager
            matrix
            poller
            prometheus
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}