name: "Lint PR"
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v3.4.0
        with:
          scopes: |
            collector
            config
            exporter
            grafana
            influxdb
            manager
            matrix
            poller
            prometheus
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}